
<div class="row">
<ul class="sitemap-menu">

  <li title="{{i18n 'home'}}">
    <a href="/">{{i18n 'home'}}</a>
  </li>

  {{#each category in categories}}
    {{header-sitemap-category category=category selection=controller.selectedCategory select='selectCategoryItem'}}
  {{/each}}


  <li title="{{i18n 'filters.categories.help'}}">
    {{#link-to "discovery.categories"}}{{i18n 'filters.categories.title'}}{{/link-to}}
  </li>

</ul>

<div>
    {{selectedCategory.name}}
</div>

</div>
<div class="row">
</div>