<div class="inner">
    <div class="author">
        <a href="{{author.user.path}}" data-user-card="{{author.user.username}}" class="{{author.extras}}">{{avatar author usernamePath="user.username" imageSize="medium"}}</a>
    </div>
    <div class="content-wrap">
        <div class="authorname">{{author.username}}</div>
        <div class="title">
            {{content.title}}
        </div>
    </div>
</div>