<h3>{{bound-category-link category hideParent="true"}}</h3>

{{#if view.parentCategory}}
    <h5>{{bound-category-link view.parentCategory hideParent="true"}}</h5>
{{/if}}
<hr>

{{#if view.childCategories}}
<div class="subcategories">
    <ul>
        {{#each category in view.childCategories}}
          <li>{{category-link category hideParent="true"}}</li>
        {{/each}}
    </ul>
</div>
{{else}}
    {{category.description}}
{{/if}}

{{yield}}