<h3>{{category.name}}</h3>
<hr>

{{#if view.childCategories}}
<div class="subcategories">
    <ul>
        {{#each category in view.childCategories}}
          <li>{{category-link category hideParent="true"}}</li>
        {{/each}}
    </ul>
</div>
{{else}}
    {{category.description}}
{{/if}}

{{yield}}