
<div class="video-wrap">
    {{#video-embed class="videobox" autoresize=true player-waiting='player-waiting' player-play='player-play' player-pause='player-pause' player-seeking='player-seeking' player-seeked='player-seeked' player-ended='player-ended' ready='player-ready'}}

          {{! <source src="http://05d2db1380b6504cc981-8cbed8cf7e3a131cd8f1c3e383d10041.r93.cf2.rackcdn.com/djangocon-2009/22_a-socio-political-analysis-of-open-source-community.ogv" type="video/ogg"/>}}

         {{! <source src="http://05d2db1380b6504cc981-8cbed8cf7e3a131cd8f1c3e383d10041.r93.cf2.rackcdn.com/djangocon-eu-2011/0_3-cmses-in-45-minutes.m4v" type="video/mp4" /> }}

         {{!<source src="http://05d2db1380b6504cc981-8cbed8cf7e3a131cd8f1c3e383d10041.r93.cf2.rackcdn.com/djangocon-2010/41_alice-in-performanceland-down-the-rabbit-hole-with-frank-wiles.flv" type="video/flv" /> }}

         {{! <source src="https://vimeo.com/1093745" type="video/vimeo" /> }}

         {{! Testing video selection: here is youtube}}
         {{! <source src="https://www.youtube.com/watch?v=hzf3hTUKk8U" type="video/youtube" /> }}

         <source src="https://www.youtube.com/watch?v=vbU2VXGjQj8" type="video/youtube" />

          {{! Testing video selection: here is mp4 and webm}}
          {{! <source src="http://vjs.zencdn.net/v/oceans.mp4" type="video/mp4" />
          <source src="http://vjs.zencdn.net/v/oceans.webm" type="video/webm" /> }}
    {{/video-embed}}

    <div class="video-meta-overlay">
        <div class="video-meta-inner">
            <div class="video-meta">
                <div class="title">
                    <h2>Clay Shirky</h2>
                    <h1>
                      {{#if model.details.loaded}}
                        {{{model.fancyTitle}}}
                      {{/if}}
                    </h1>
                    <p class="likes">
                     {{fa-icon "thumbs-o-up" modifier="2x"}} {{model.like_count}}
                    </p>
                </div>
                {{plugin-outlet "topic-title"}}
            </div>

            <div class="play-btn">
                <a href {{action "play-now"}}>
                    {{fa-icon "play" modifier="4x"}}
                </a>
            </div>
            <div class="video-actions-wrap">
                <div class="video-actions">
                    <a href {{action 'toggleBookmark'}}>
                      {{#if model.bookmarked}}
                        {{fa-icon "bookmark" modifier="3x"}}
                      {{else}}
                        {{fa-icon "bookmark-o" modifier="3x"}}
                      {{/if}}
                    </a>

                    {{fa-icon "thumbs-o-up" modifier="3x"}}

                    <a href data-share-url="{{unbound model.shareUrl}}">
                      {{fa-icon "share-alt" modifier="3x"}}
                    </a>
                </div>
            </div>
            <div class="speakers">
                {{avatar model.details.created_by imageSize="huge"}}
            </div>
            <div class="meta-details">
                <div class="categories">
                    {{#if model.category.parentCategory}}
                        {{bound-category-link model.category.parentCategory}}
                    {{/if}}
                    {{bound-category-link model.category hideParent=true}}
                </div>

                <a class='post-date' {{bind-attr href="shareUrl" data-share-url="shareUrl" data-post-number="post_number"}}>posted {{age-with-tooltip model.created_at}}</a>
            </div>
        </div>
    </div>
</div>

<div class="video-meta-under">
    <div class="video-meta-inner">
        <div class="likes">
         {{fa-icon "thumbs-o-up"}} {{model.like_count}}
        </div>
        <div class="title">
          {{#if editingTopic}}
            {{#if model.isPrivateMessage}}
              <span class="private-message-glyph">{{fa-icon "envelope"}}</span>
              {{autofocus-text-field id='edit-title' value=buffered.title maxLength=maxTitleLength}}
            {{else}}
              {{autofocus-text-field id='edit-title' value=buffered.title maxLength=maxTitleLength}}
              <br>
              {{category-chooser valueAttribute="id" value=buffered.category_id source=buffered.category_id}}
            {{/if}}

            {{plugin-outlet "edit-topic"}}

            {{d-button action="finishedEditingTopic" class="btn-primary btn-small no-text submit-edit" icon="check"}}
            {{d-button action="cancelEditingTopic" class="btn-small no-text cancel-edit" icon="times"}}
          {{else}}

            <a class='post-date' {{bind-attr href="shareUrl" data-share-url="shareUrl" data-post-number="post_number"}}>posted {{age-with-tooltip model.created_at}}</a>

            <div class="categories">
                {{#if model.category.parentCategory}}
                    {{bound-category-link model.category.parentCategory}}
                {{/if}}
                {{bound-category-link model.category hideParent=true}}
            </div>
            <h1>

              {{#if model.details.loaded}}
                {{topic-status topic=model}}
                {{{model.fancyTitle}}}
              {{/if}}

              {{#if model.details.can_edit}}
                <a href {{action "editTopic"}} class='edit-topic' title='{{i18n 'edit'}}'>{{fa-icon "pencil"}}</a>
              {{/if}}
            </h1>

          {{/if}}
          {{plugin-outlet "topic-title"}}
        </div>
        <div class="actions">
            {{#if model.details.bookmarked}}
                {{fa-icon "bookmark" modifier="3x"}}
            {{else}}
                {{fa-icon "bookmark-o" modifier="3x"}}
            {{/if}}

            {{fa-icon "thumbs-o-up" modifier="3x"}}
            {{fa-icon "share-alt" modifier="3x"}}
        </div>
    </div>
</div>